<div class="container">
    <div class="hero-section">
        <h1>Kundli Play Ground</h1>
        <p class="subtitle">Analyze your kundli with our interactive tools</p>
    </div>
</div>
<mat-card class="main-card">
    <mat-tab-group>
        <mat-tab label="Surya Chakra / Sun chart / East Indian chart">
            <surya-chakra-chart></surya-chakra-chart>
        </mat-tab>

        <mat-tab label="Guru Chakra / South Indian Chart">
            <guru-chakra></guru-chakra>
        </mat-tab>

        <mat-tab label="Venus Chart">
            <venus-chart></venus-chart>
        </mat-tab>
    </mat-tab-group>


</mat-card>