<mat-sidenav-container fullscreen>

  <!-- Side Nav -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="closeIfMobile()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="aling-middle">history</mat-icon> &nbsp; Tamil Nadi Ages
      </a>

      <a mat-list-item routerLink="/mritu-bhag" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">star</mat-icon> &nbsp; Mrityu Bhag
      </a>

      <a mat-list-item routerLink="/planet-duration" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">timer</mat-icon> &nbsp; Planet Duration
      </a>

      <a mat-list-item routerLink="/chandra-navmansha" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">nights_stay</mat-icon> &nbsp; Chandra Navamsa
      </a>

      <a mat-list-item routerLink="/dasamsa-house" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">work</mat-icon> &nbsp; Dasamsa House
      </a>

      <a mat-list-item routerLink="/kakshya" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">grid_view</mat-icon> &nbsp; Kakshya
      </a>

       <a mat-list-item routerLink="/age-calculator" (click)="closeIfMobile()" routerLinkActive="active-link">
         <mat-icon class="aling-middle">calculate</mat-icon> &nbsp;BCP Age Calculator
      </a>
      <a mat-list-item routerLink="/about" (click)="closeIfMobile()" routerLinkActive="active-link">
        <mat-icon class="aling-middle">info</mat-icon> &nbsp; About
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <!-- Top Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Astro Grid</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <footer class="app-footer">
      <small>© Astro Grid</small>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>