@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 16px;
}

.header-footer-spacer {
  height: 64px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background: #f5f5f5;
}
