<div class="container">
  <!-- Hero Section -->
  <div class="hero-section">
    <h1>Astro Grid</h1>
    <p class="subtitle">Explore the cosmos through the lens of ancient astrology</p>
  </div>

  <mat-card class="main-card">

    <mat-card-content>
      <div class="filter-row">
        <p>Welcome to Astro Grid! This is your gateway to a universe of astrological insights. Use the navigation menu
          to explore various features like Tamil Nadi Ages, Mrityu Bhag, Planet Duration, and more. Each section offers
          unique tools and information to help you understand the cosmic influences on your life. Dive in and discover
          the secrets of the stars!</p>
      </div>
      <div class="filter-row">
        <button mat-stroked-button color="primary" routerLink="/tamil-nadi">
          <mat-icon>history</mat-icon>
          Explore Tamil Nadi Ages
        </button>
        <button mat-stroked-button color="accent" routerLink="/mritu-bhag">
          <mat-icon>star</mat-icon>
          Discover Mrityu Bhag
        </button>
        <button mat-stroked-button color="warn" routerLink="/planet-duration">
          <mat-icon>timer</mat-icon>
          Check Planet Duration
        </button>
        <button mat-stroked-button color="primary" routerLink="/chandra-navmansha">
          <mat-icon>nights_stay</mat-icon>
          Analyze Chandra Navamsa
        </button>
        <button mat-stroked-button color="accent" routerLink="/dasamsa-house">
          <mat-icon>work</mat-icon>
          Explore Dasamsa House
        </button>
        <button mat-stroked-button color="warn" routerLink="/kakshya">
          <mat-icon>grid_view</mat-icon>
          View Kakshya
        </button>
        <button mat-stroked-button color="primary" routerLink="/age-calculator">
          <mat-icon>calculate</mat-icon>
          BCP Age Calculator
        </button>

        <button mat-stroked-button color="accent" routerLink="/kundli-play-ground">
          <mat-icon>play_circle</mat-icon>
          Kundli Play Ground
        </button>


      </div>


    </mat-card-content>
  </mat-card>
</div>